@import "modern-normalize";
@import "./colors.css";

/**
 * Global styles
 */

html {
  color: var(--schiphol-blue);
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: var(--afternoon-blue);
  text-decoration: underline;
}

/**
 * Global classes
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
